APP_NAME="hris-backend"
APP_VERSION="1.0.0"

APP_ENV=development
APP_PORT=8000
APP_DEBUG=true
APP_CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=hris_db
DB_SSLMODE=disable
DB_TZ=Asia/Jakarta